<%= render "top/header"%>

<div class="section-collection">

<%= image_tag("#{asset_path "item/tops1"}",class:"section-collection__img") %>

<%= image_tag("#{asset_path "item/tops1"}",class:"section-collection__img") %>



</div>









<%= render "top/footer"%>