<div class="footer-category">

  <footer class="footer-category__header">
    <h2 class="footer-category__title">CATEGORIES</h2>
  </footer>

  <div class="footer-category__content">
    <ul class="footer-category__list">
      <li class="footer-category__item">
        <a class="footer-category__item-trigger" href="#">トップス</a>
      </li>

      <li class="footer-category__item">
        <a class="footer-category__item-trigger" href="#">アウター</a>
      </li>
      
      <li class="footer-category__item">
        <a class="footer-category__item-trigger" href="#">ワンピース</a>
      </li>

      <li class="footer-category__item">
        <a class="footer-category__item-trigger" href="#">ボトムス</a>
      </li>

    </ul>
  </div>
</div>

<div class="footer-site">
  <div class="footer-site__inner">
    <div class="footer-copyright">
      ©STRIPE INTERNATIONAL INC. All rights reserved.
    </div>
  </div>
</div>