<header class="header">
    <div class="header__logo">MECHAKARI</div>

    <nav class="header__left">
      <ul>
        <li>COLLECTION</li>
        <li>CODINATE</li>
        <li>MYPAGE</li>
      </ul>
    </nav>

    <nav class="header__right">
      <ul>
        <li>新規登録</li>
        <li>ログイン</li>
      </ul>
    </nav>
    </div>
  </header>