
<header class="header">
    <div class="header__logo">
      <%= link_to "MECHAKARI",root_path,class: "header__logo"%>
    </div>

    <nav class="header__left">
      <ul>

        <li>
        <%= link_to "ITEM",item_index_path,class: "header__left"%>
        </li>

        
        <li>CODINATE</li>
        <li>MYPAGE</li>
      </ul>
    </nav>

    <nav class="header__right">
      <ul>
        <li>新規登録</li>
        <li>ログイン</li>
      </ul>
    </nav>
    </div>
  </header>