<!DOCTYPE html>
  <header class="header">
    <div class="header__logo">MECHAKARI</div>

    <nav class="header__left">
      <ul>
        <li>COLLECTION</li>
        <li>CONTACT</li>
        <li>FAQ</li>
      </ul>
    </nav>

    <nav class="header__right">
      <ul>
        <li>新規登録</li>
        <li>ログイン</li>
      </ul>
    </nav>
    </div>
  </header>

  <div class="top-wrapper">

    <div class="top-wrapper__image">
     <%= image_tag("#{asset_path "top/header.jpg"}",class:"top-wrapper__image") %>
    
    </div>

    <%# <div class="page-top__title">
      <span>MECHAKARI</span>
    </div>
    
    <div class="page-top__outline">
        <p>
          <span>
              月額６０００円から洋服借り放題
              ファッションを自由に
          </span>
        </p>
    </div> %>
  </div>

<div class="content-wrapper">
  
  <%= image_tag("#{asset_path "top/fashion.jpg"}",class:"content-wrapper__image") %>

<div class="content-wrapper__body">

  <div class="content-wrapper__title">
    <h2>月額定額制で洋服が借り放題</h2>
  </div>

  <div class="content-wrapper__outline">
    返却期限がなく何度でも借りかえられる。<br>
    気に入った洋服は割引価格で買い取り可能。<br>
    利用済みの洋服はクリーニング不要でそのまま返却。
  </div>

<div class="amount">
  <p>
    <span class="amount__prefix">月額</span>
    <span class="amount__value">￥5,800</span>
    <span class="amount__suffix">（税別）</span>
  </p>
</div>


</div>

</div>