<header class="header">
  <div class="header-logo">MECHAKARI</div>

    <nav class="header-left">
      <ul>
        <li>COLLECTION</li>
        <li>CONTACT</li>
        <li>FAQ</li>
      </ul>
    </nav>

    <nav class="header-right">
      <ul>
        <li>新規登録</li>
        <li>ログイン</li>
      </ul>
    </nav>
  </div>
</header>

<div class="main">
    <img class="page-top__header-inner" src="">
   
    <div class="page-top__title">
    <div class="page-top__outline">
        <p>
          <span>
              月額６０００円から洋服借り放題
          </span>
        </p>
    </div>
      
</div>