<% @items.each do |item| %>
  <a class="product-box" href="/items/<%= item.id %>">
    <div class="product-box__top">
      <%= image_tag(item.image,class:"product-box__img") %>
    </div>

    <div class="product-box__bottom">
      <div class="product-box__bottom__title" title="<%= item.title %>">
        <%= item.title %>
      </div>

      <div class="product-box__bottom__info">
        <div class="product-box__bottom__info__like">
          <i class="far fa-heart"></i>
        </div>
      </div>
    </div>
  </a>
 
<% end %>


