<%= render "tops/header"%>

<div class="style-item">

  <div class="style-item__title">
    <p>ITEM</p>
  </div>

  <div class="style-item__outline">
    <p> 着てみたいアイテム・コーディネートは「いいね！」ができます！</p>
  </div>

  <div class="style-item__category">
    <ul>
      <li>
        <a href="#">トップス</a>
      </li>

      <li>
        <a href="#">アウター</a>
      </li>

      <li>
        <a href="#">ワンピース</a>
      </li>

      <li>
        <a href="#">ボトムス</a>
      </li>
    </ul>
  </div>
</div>




<div class="products-box">

  <div class="four-box">

  <%= render "items/item"%>
  
  
  </div>

</div>


<%= render "tops/footer"%>