<form method="POST" action="/pay" id="charge-form">
  <span class="charge-errors"></span>

  <h4>支払い</h4>
  <label>カード番号</label>
  <input type="text" class="number" name="number" maxlength="16" placeholder="カード番号">

  <label>CVC</label>
  <input type="text" class="cvc" name="cvc" maxlength="3" placeholder="CVC">

  <label>有効期限</label>
  <input type="text" class="exp_month" name="exp_month" maxlength="2" placeholder="月">
  <input type="text" class="exp_year" name="exp_year" maxlength="4" placeholder="年">

  <button type="submit">送信</button>
</form>