.footer-category{
  text-align: center;
  color: #333;
  padding: 100px;
}

.footer-site{
  border-top: 1px solid rgba(0,0,0,0.1);
}

.footer-copyright, .footer-copyright small {
  letter-spacing: .08em;
    font-size: 12px;
    color: #888;
    float: right;
    margin:60px;
}