// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products-box {
  display: flex;
}

.box {
    padding-bottom: 30px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-box {
    min-width: 200px;
    margin-bottom: 50px;
    text-decoration: none;
    margin:20px;
  }
  
  .product-box__img {
    width:200px;
    max-height: 240px;
  }
  
  .product-box__bottom {
    height: 70px;
    padding: 16px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    color: #000;
    
    &__like {
      color: #333;
      border: 1px solid #f5f5f5;
      background: #f5f5f5;
      border-radius: 40px;
      cursor: pointer;
      font-size: 16px;
    }
      &__title {
        font-size: 16px;
        line-height: 25px;
      }
    }
  
  .style-item{
    text-align: center;
   
   &__title p{
    padding: 200px 0 30px 0;
    font-size: 30px;
   }
  
   &__outline p{
     font-size:16px;
     color:#888;
     padding-top: 20px;
    }
    &__category {
      padding: 20px;
    }
    &__category ul li{ 	
      display: inline;
      padding: 20px;
    }
  }
  
  