// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  color: #000;
  text-decoration: none;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  
}

.content-wrapper{
  display: flex;
  margin :0 200px;

  &__title{
    font-size: 24px;
  }
  &__image{
    width: 300px;
   
  }
  &__body{
    margin: 0 0 0 100px;
    letter-spacing: .08em;
    font-size: 14px;
    text-align: center;
  }
}

.amount{
  margin-top: 30px;
  &__prefix{
    font-size: 20px;
  }
  &__value{
    font-weight: bold; 
    font-size: 40px;
  }
  &__suffix{
    color: #888;
  }
}

.section {
  margin: 0 200px;
  &__body {
    margin: 0 auto;
    padding: 100px;
    font-size: 18px;
    text-align:center;
  }
}


.footer-category{
  text-align: center;
  color: #333;
  padding: 100px;

  &__title{
  font-size: 30px;
  }
  &__content {
    padding: 40px;
    ul li{ 	
        display: inline;
        padding: 20px;
      a {
        text-decoration: none;
        &:hover {
          color: #888;
        }
      }
    }
  }
}

.footer-site{
  border-top: 1px solid rgba(0,0,0,0.1);
}
