// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  color: #000;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.content-wrapper{
  display: flex;
  &__image{
    width: 35%;
    padding: 0 100px;
  }
  &__body{
    margin: 0 0 0 100px;
    letter-spacing: .08em;
    font-size: 14px;
    text-align: center;
  }
}

.amount{
  margin-top: 30px;
  &__prefix{
    font-size: 20px;
  }
  &__value{
    font-weight: bold; 
    font-size: 40px;
  }
  &__suffix{
    color: #888;
  }
}

.section-item {
  text-align: center;
  PADDING: 100px;
}